
# PlanAhead Generated physical constraints 

NET "I[0]" LOC = C17;
NET "I[1]" LOC = C18;
NET "Sel" LOC = F17;
NET "OUT" LOC = P15;

# PlanAhead Generated IO constraints 

NET "I[1]" PULLUP;
NET "I[0]" PULLUP;
NET "OUT" SLEW = FAST;
NET "Sel" PULLUP;
